# Node modules (VERY IMPORTANT)
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables (secrets)
.env

# OS files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Build files
dist/
build/

# Docker
*.tar

# IDE files
.vscode/
.idea/
